//button {
//  display: none;
//}

span.ant-page-header-heading-extra {
  padding: 0;
  width: auto;
  float: right;
}


html button {
  touch-action: manipulation;
}

.content-container {
  background: #fff;
  overflow-y: auto !important;
}

.ant-tabs-tabpane {
  height: 100%;
}

.ant-menu-item-selected {
  background: #fff;
}

.color-picker {
  display: inline-block;
}

.configuration-card .ant-card-head-title {
  line-height: 32px;
}

//.pcr-app {
//  height: 50vh;
//
//  .prc-selection {
//    height: 100%;
//
//    .pcr-color-palette {
//      height: 100%;
//
//      .prc-palette {
//        height: 100% !important;
//      }
//    }
//  }
//}

//.content-container::-webkit-scrollbar {
//  display: none !important;
//}
