.generic-button {
    border: none;
    border-radius: 18px;
    box-shadow: 0 2px 8px 0 rgba(38, 88, 165, 0.32);
    background-color: $mid-blue;
    color: $white-two;
    min-width: 240px;
    height: 45px;
    margin: 20px 0 2em 0;
}
