$sm: 480px;
$md: 800px;
$md-lg: 1000px;
$lg: 1140px;
$lg-xl: 1250px;
$xl: 1440px;
$xxl: 1920px;

$nav: 900px;

$settings-breakpoints: (
        'sm': $sm,
        'md': $md,
        'md-lg': $md-lg,
        'lg': $lg,
        'lg-xl': $lg,
        'xl': $xl,
        'xxl': $xxl,
        'nav': $nav
);
